<input align="center" placeholder="Two Way Binding" [(ngModel)] = "search" (keyup-enter)="search">
<br>
<label align="center">{{search}}</label>

<table border = "3">
  <tr align="center">
    <td>Image</td>
    <td>Product Name</td>
    <td>Product Code</td>
    <td>Branch Name</td>
    <td>Branch Code</td>
    <td>Shipping Address</td>
    <td>Details</td>
  </tr>

  <tr align="center" *ngFor = "let ProductInfo of AllProducts">
    <td><img src = "assets/{{ProductInfo.image}}" width="200" height="200"></td>
    <td>{{ProductInfo.productName}}</td>
    <td>{{ProductInfo.productCode}}</td>
    <td>{{ProductInfo.branchName}}</td>
    <td>{{ProductInfo.branchCode}}</td>
    <td>{{ProductInfo.shippingAddress}}</td>
    <td>
      <button align = 'center' style="background-color: yellow;color:red; width:150px;
      height:60px;" (click)="getProductDetail(ProductInfo.productName, ProductInfo.productCode,
      ProductInfo.branchName, ProductInfo.branchCode, ProductInfo.shippingAddress)">
        Product Detail
      </button>
    </td>
  </tr>

</table>
